* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

button {
    background: transparent;
    border: none;
}

.treebutton {
    stroke: yellow;
    fill: lightgreen;
    stroke-width: 5;
}

.housebutton {
    stroke: rgb(0, 225, 255);
    fill: rgb(238, 236, 144);
    stroke-width: 5;
}

.carbutton {
    stroke: rgb(228, 60, 116);
    fill: rgb(80, 162, 230);
    stroke-width: 5;
}

.treebutton:hover {
    stroke: yellow;
    fill: lightgreen;
    stroke-width: 5;
    opacity: 50%;
}

.housebutton:hover {
    stroke: rgb(0, 225, 255);
    fill: rgb(238, 236, 144);
    stroke-width: 5;
    opacity: 50%;
}

.carbutton:hover {
    stroke: rgb(228, 60, 116);
    fill: rgb(80, 162, 230);
    stroke-width: 5;
    opacity: 50%;
}

.g_to_interact_with {
    fill: transparent;
}

#shadow {
    pointer-events: none;
}

.boxShadowThis {
    fill: rgba(229, 235, 136, 0.192);
    -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
    filter: url(#drop-shadow);
}


/* .houseouter {
    stroke: rgba(95, 19, 19);
    fill: rgba(rgb(218, 125, 125));
    stroke-width: 5;
}

.window {
    stroke: black;
    fill: grey;
    stroke-width: 5;
    width: 35px;
    height: 35px;
}

.window.light {
    fill: lightgreen;
}

.door {
    stroke: green;
    fill: lightskyblue;
    stroke-width: 5;
    width: 35px;
    height: 100px;
}

.hill {
    stroke: green;
    fill: lightskyblue;
    stroke-width: 5;
}

.treebody {
    stroke: black;
    fill: transparent;
    stroke-width: 5;
}

.something:hover {
    transform: scale(1.25);
    transition-duration: 1.5s;
}

.wheels1,
.wheels2 {
    stroke: black;
    fill: orange;
    stroke-width: 5;
}

.wheelsrect1,
.wheelsrect2 {
    stroke: black;
    fill: greenyellow;
    stroke-width: 5;
    z-index: 1;
} */


/* .wheels2:hover {
    stroke: black;
    fill: orange;
    stroke-width: 5;
    animation: wheels1;
    animation-duration: 2s;
} */


/* @keyframes wheels1 {
    from {
        cx: 750
    }
    to {
        cx: 350
    }
} */


/* .wheelsturn.move {
    animation-name: wheelsmove;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: left;
} */


/* 
@keyframes wheels2 {
    from {
        cx: 570
    }
    to {
        cx: 170
    }
} */


/* @keyframes wheelsmove {
    0% {
        left: 0;
        animation-timing-function: ease-in;
    }
    50% {
        left: 250px;
        animation-timing-function: ease-in-out;
    }
    100% {
        left: 500px;
        animation-timing-function: linear;
    }
}

.mouth {
    stroke: green;
    fill: rgb(240, 57, 224);
    stroke-width: 5;
} */